<footer class="footer">
    <div class="footer-container">

        <div class="footer-logo">
            <h2>EduGuideAI</h2>
            <p>Your partner in academic guidance & college counseling.</p>
        </div>

    </div>

    <div class="footer-bottom">
        <div class="footer-links">
            <a href="#" class="footer-link">Privacy Policy</a>
            <p>&copy; {{ currentYear }} EduGuideAI. All rights reserved.</p>
            <a href="#" class="footer-link">Terms of Service</a>
        </div>
    </div>
</footer>
