<div class="landing-page">
    <header class="navbar">
        <div class="app-name">
            EduGuideAI
        </div>

        <div class="right-button">
            <button routerLink="/login">Login</button>
            <button routerLink="/registerStudent">Register</button>
        </div>
    </header>

    <div class="cover-image">
        <img src="bg-masthead.jpg" alt="Cover Image" class="full-cover">
        <div class="hero-text">
            <h1>Empowering Your Academic Journey</h1>
            <p>We help you unlock your academic potential with personalized AI-driven guidance! Just sign up and start learning, no limits to your success!</p>
            <button routerLink="/info">What We Do?</button>
        </div>
    </div>

    <!-- Features Section -->
    <section class="features-section">
        <div class="card">
            <div class="card-header">Personalized Guidance</div>
            <div class="card-content">
                <h3 class="card-title">AI-powered Recommendations</h3>
                <p>Our AI helps tailor recommendations to your learning style and progress.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Easy Access</div>
            <div class="card-content">
                <h3 class="card-title">Access from Anywhere</h3>
                <p>Learn on your schedule from any device, anytime, anywhere.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Real-time Progress</div>
            <div class="card-content">
                <h3 class="card-title">Track Your Progress</h3>
                <p>Get real-time insights and feedback to stay on track with your goals.</p>
            </div>
        </div>
    </section>
</div>
