.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .app-name {
    font-size: 1.8em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
  }
  
  .right-button {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
  }
  
  .menu-trigger {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 200px;
    text-align: left;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .menu-trigger:hover {
    background-color: #d94e2a;
  }
  
  .navbar-spacer {
    margin-top: 70px;
  }
  
  .buttons-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 100px; /* Adjust spacing from the navbar */
  }
  
  .nav-button {
    background-color: #d94e2a;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #c24b22;
    transform: translateY(-3px);
  }
  
  .nav-button:focus {
    outline: none;
  }
  
  .nav-button:active {
    transform: translateY(1px);
  }
  