<div class="courses-page">
    <header class="navbar">
      <div class="app-name" routerLink="/student-page">
        EduGuideAI
      </div>
  
      <div class="right-button">
        <li class="menu-container">
          <a routerLink="/profile" class="menu-trigger">
            <i class="fas fa-user-circle"></i> {{ student.firstName | titlecase }}
          </a>
        </li>
      </div>
    </header>
    
      <div class="navbar-spacer"></div>


      <div class="buttons-container">
        <button class="nav-button" routerLink="/my-general"> General Requirements</button>
        <button class="nav-button" routerLink="/my-faculty">Faculty Requirements</button>
        <button class="nav-button" routerLink="/my-department"> Department Requirements</button>
      </div>


    </div>
    