.navbar {
    background-color: #f4623a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .app-name {
    font-size: 1.8em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
  }
  
  .right-button {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;  /* Ensure it's relative for absolute positioning of the menu */
  }
  
  .menu-container a {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .menu {
    display: none;
    position: absolute;
    background-color: #f4623a;
    width: 100%;  /* Match width of the parent element */
    z-index: 1;
    border-radius: 5px;
    top: 100%;  /* Position it below the name */
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Smooth fade-in effect */
  }
  
  .menu-container:hover .menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s; /* Fade-in and show instantly */
  }
  
  .menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .menu a:hover {
    background-color: #d94e2a; /* Hover effect */
  }
  
  .navbar-spacer {
    height: 100px;
  }
  