<div class="side-navbar" [class.collapsed]="isCollapsed">


  <div class="side-navbar-links">

    <a routerLink="/student-page" class="side-navbar-link">
      <i class="fas fa-home"></i>
      <span *ngIf="!isCollapsed">Home</span>
    </a>

    <a routerLink="/profile" class="side-navbar-link">
      <i class="fas fa-id-card"></i>
      <span *ngIf="!isCollapsed">Profile</span>
    </a>

    <!-- Dark Mode Toggle Button -->
    <a (click)="toggleTheme()" class="side-navbar-link">
      <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
      <span *ngIf="!isCollapsed">Dark Mode</span>
    </a>

    <a (click)="logout()" class="side-navbar-link">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="!isCollapsed">Logout</span>
    </a>
  </div>
</div>