<div class="bg-img" style="background-image: url('bk.webp');">
    <div class="overlay"></div>
    <div class="content">
      <header>FORGET PASSWORD</header>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()">
        <div class="field">
          
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            required
          />
          <div *ngIf="isSubmitted && fc['email'].invalid" class="error">
            Please enter a valid email.
          </div>
        </div>
  
        <div class="field">
          <input type="submit" value="Send Reset Link" />
        </div>
      </form>
    </div>
  </div>